
body {
    background-image: url('../img/img-fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color:#111111;
}
/* Apresentacao */
.conteudo{
    color: white;
}
.cor-azul{
    color: #00AEFF;
}
.btn{
    background-color: #00AEFF;
    color: white;
}

/* Apresentacao tela pequena */
.hidden-small {
    display: block;
}

@media (max-width: 768px) {
    .hidden-small {
        display: none; 
    }
}

/*card sobre  */
.card {
    margin-top: 80px;
    border: none;
  }

.icons .btn {
    margin-right: 10px;
    font-size: 1.5rem;
    background-color: #1F1F1F;
    border-color: #1F1F1F;
}

.icons .btn i {
    color: #00BFFF; 
}

.icons .btn:hover i {
    color: white;
}



