body {
    background-color:#111111;
}

.conteudo{
    color: white;
}
.cor-azul{
    color: #00AEFF;
}
.btn{
    background-color: #00AEFF;
    color: white;
}




.hidden-small {
    display: block;
}

@media (max-width: 768px) {
    .hidden-small {
        display: none; 
    }
}
